# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Xcode
/xcuserdata/

# Visual Studio
/.vs/
/dll/
/*.user

# Dependencies
/openFrameworks/

# Build artifacts
/obj/
/bin/*
!/bin/data/
